@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", serif; */


*{margin: 0;
  padding: 0;}

  .containerone{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    margin:50px 174px 0px 150px;
    }

.btn{padding: 20px;
         background-color: white;
         border-radius: 8px;
         font-family: "Azeret Mono", serif;
         border-color:gray;}

       
.resume-name{font-size: 28px;
                 color: #0D1321;
                 font-weight: bold;} 
                 
                /*  2nd task */
.containertwo{height: 70vh;
              width: 100%;
              text-align: center;
              background-color: gray;
              background-image: url('./assets/Hero-bg.png');}    
              
.btntwodesign {  height: 65px;
                 width: 244px;
                  background-color: #0D1321;
                  color: white;
                 padding: 20px;
                  font-size: 20px;
                    border-radius: 8px;
                    margin: 32px 0px 45px 0px;
              }   
.imagetwo{padding-top: 30px;}   
.banner-title {margin-top: 30px;} 
.banner-dis{
              margin-top: 28px;
}
                  /*   2nd part start */


                  main{ 
                  
                        margin: 0px auto;
                        text-align: center;
                        background-color: lightblue;
                        width: 80%;
                  }
                  .box1{display: flex;
                    justify-content: space-around;   
                    align-items: center;
                    gap:20px;

                    /* border: 1px solid gray; */
                    margin:0px 97px 0px 97px;
                    box-shadow: 4px 4px 8px gray;

                       }
                    
                       .box1image{margin:51px 60px  60px 0;
                      }
                  
             
                      .box1-title{margin: 58px 0px 58px 48px;
                                 
                       }
                       .box2container{
                        display: flex;
                        justify-content: flex-start;   
                        align-items: center;
                        gap:20px;
    
                        /* border: 1px solid gray; */
                        /* margin:50px 130px 48px 48px; */
                        box-shadow: 4px 4px 8px gray;
                          text-align: justify;
                       }
                       .box2image{margin:48px 10px 48px 250px;
                       }
                   
              
                       .box2-title{margin: 58px 0px 58px 48px;
                                  
                        }
                   
              
                     